language: java
jdk: oraclejdk8
install: true
script: mvn package
before_deploy:
  - echo "$DOCKER_PASSWORD" | docker login -u="$DOCKER_USERNAME" --password-stdin
deploy:
  - provider: releases
    api_key:
      secure: hh/3NEYOVjMz3Dm0DzP2pfpCF40PGO/yYekI8hEw88ZCxIVUzBczstaBE3BTY1TdlPLLjh9qWd/70qEEHuonnAFUVKv3OWWNzh0CtUkmIkJaTxjQccQI6lEZgcVqZ4r8zJXQpVLNFzt0++Qq/6CplITF+vLVGeZ4Vny3uUnxdHwzOj5R3SYaWYiMr8QeD8DabD2c8GAg/jaci3ACIgHuqu47sYL727Y+ce7UmOzBMVmsIIPcNjNrzzEE3XT6HZojVhsUDAPgrF1/mRt/pGK/VStvYdUrn5np9VjsTObGgZKGqfCiMB6gyQwasrKCvx4xe67ETaIlLgjyUxdGpV7L5V+8VNUsmi5YTPoSA9KM6tvcdL89VTer1rS0nQ7PUF9ZN/eEJ0rB2FdhzyOZJrNHhjl3/7itC13PXjJFMM0i6wz5Aw2ZXLoWcF6zn/EcV/gVQKt1xTkptsPlYBNl5t6+1pEnUbWjX9/OyNhSlxulGtyZ/dN9RcsVXMZ+HFYiaSFzNDw0Q+FqCmSHnOujOrr7jbK3i3TMPBHRbvRgM+csUd1UzAc9dXgdsHF8/jGikJnFnSX+c1qskF9J7l0YRfL1ucNCHTTv50Zr+W6iBBxmLqb4v7LzKUvsJBOht557od8Hu2ViEoU3nKas8o2VAGcwfmg4/F+3+nK2cmBUqVFZBms=
    file_glob: true
    file: hercules-*/target/hercules-*.jar
    skip_cleanup: true
    on:
      tags: true
      all_branches: true
  - provider: script
    skip_cleanup: true
    script:
      - make services_images
    on:
      tags: true
      all_branches: true
notifications:
  slack:
    secure: 6TPq5PaOr2jW2/DUF5AcWmw48s+MVmRfknA1G93VxObGerkXAO4qZjVAFX+1tHJicGNwD0K2ELiwkbDRlBf1HuA2muVR9lWVH08XyssVrLfU5OZMv9v9HCoUW3IqiNwVr2vwNp/yL+3Sa3HgV37npj9njT62R+QLxfat63vndIcbJFxwlFW5ozIjjEOsJn0FwbHAcXm5Kr6BzQ/wJk/wu7oARjuzY1BFfzz3cOLwF1qAte7FG+TErIY1QtYXCLxGgjoXb2ZTtnm4JalR/mxTLL9kdVbo9Iu6zbvaEylIOUv1c4zDUsEYlSegVaoEgZE1iE5rH5HBididq2CKIXO5bcOr7r0/XdicLarcay64FduUVr0Dg7UoliEoGeR03vFentKXuAQBL2MYv9wXrY08ZGWyPsAVHuhZY8hxL4XdWAv2o66C9Mq5DSeSvgeVWOqtzY2cxh1xRCMVdbwjaQB10MTPjN2WRs76AdUj6gVjLhBLxuStoS/ALxWNhgGsOIzbZV6zqCKDpNbmePP+S3Xoo3ctTMV55KzIG0BFibYeAFyd4k5HT76psBI51gVT7vpXdm7xxLi+Ad+snJFzRm0j7/5fb2DGyV9skpTlEIooE0YnPolIEkikDSG2GgetlQRif5TQ3mOm0hVqU3AufTBGQJufFV+VoQqS1uYVQQmLnSU=

