language: java
jdk: openjdk8
install: true
script: mvn package
before_deploy:
  - echo "$DOCKER_PASSWORD" | docker login -u="$DOCKER_USERNAME" --password-stdin
deploy:
  - provider: releases
    api_key:
      secure: B44E/fTwI7PN0ZwTTfhnZ/80Yc2LlROsU4A3CaqOTsMquvss1qCnwV6LtkzbTclLLnvHD3jgOfxFsPjrBC2URvhTRDhxeJ+23xY7X/bzAgXA/PWOOOS/hZmRuJljI7Z8org7ZwvXMt5I2EcFE7UisiBnjIoP3kJookRMI7xDjpICOa7xbZynu7zN9XEqsimYE/9kZtpdZZQ4dQb5/hZTSEEkLYe8Crqin0nxql16ufCl7ib4wlbbD98M8PGjeUgSypXS5+QP/pvbSa3/94kIRoUIz3Oqp29OCLVaaZr2RPxqPICLEXxGQYhW0CL1ZT5dHKfkwaKrUwWeYkcvYqUSA2FIgEm+2BNFmwSbKflht1Rp3xwGf/szDy7mCZsEBopUBSbnVS4HAfidKmR5j3uPgrQAxv7HF7gSvPDyDDYTehlSvv/lSWnIyq1LMrnyg9hqW3TTORKjIvuvykcEj8BS/IJxgpEcr6qcdjc8jGoD27iDVU9fnMGD5ktUNdp8UaTWkgirl0ynEdQHJmyCJcon7KdEp0dQxFxzGpp6qKHy6TRCywEqJTitxHAIOXEBVS0R1ZZuaRrfAvJDTFCHeSGGDioqLsQIypxYncqurN5coVaM+6gfVTXeOeQ9IiMaZga/OQceChj8ZPXOaFGphPRxL45WRoUoMF8L7uKAOkFeFzo=
    file_glob: true
    file: hercules-*/target/hercules-*.jar
    skip_cleanup: true
    on:
      tags: true
  - provider: script
    skip_cleanup: true
    script:
      - make services_images
    on:
      tags: true
notifications:
  slack:
    secure: UK+stHPYCJfXrtjFmvRUTDJBwg4NaYWMiy7K5n4V+WA8ndcFeqefLc+NkuHLoaj9hWokeDDq8h5Ah8dVe3uyZ6TSNzSzuwzi7wH6Xy2oAANZoFuguPdy/+T78GrCaDIn9Wh4Qx3rAJsSVC3k6/akxq+Mnlw7vvbkCuvm1fl+oeh8JxM/aXRdxpimwL5zD/AL03jnWdnfcOonkMTmk9Gp/zQObk9RGkcsGRRvGuQd7EUGd8iofugeEySVEPCqfHoiT0PehkXFemE6eWJGd8ZUzUZhSU4heQbz1ZvXCsnqUK8EataEJkjSewChbjvvv2sP7ciOUkfl3bJJl99iAwMz727w7pY7e6Y7uPA9feo5VWOSnSbqYkMfwQWDE/IEbfgzC5XrXrInhG/Fj96QXx+8uI/ULyn9Rlknj6SeFfIGOv0NnTGx6AIW24r1R6qPfICon/7gO8hQs8Mvuj1HcQDo1pUu+xydYZ8SMQ/oubaTmh9DO/BvQTntddQGbbdlkGwhurFQEQuTecAQu1zyxOyIV4boEaLowWi8+hNJcttyz1+crrdu2y3YgVRIyxcrsV1GUI8+KBRlDdQSUCOQ48CTHZL4Ar0Oqmsx43LpmAyT0iE+jm1Cycnn40aCr9JJxBYLN6D2E0hGYCCkfo5b5mbhYnF2EAxvfEKLAnhisk2MmwE=

